/*
* TODO
* ---
*/

body {
  background-color:  red; // Dinamico con JS
}
.citazione {
  max-width: 65%;
  margin: 0 auto;
  margin-top: 25vh;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
}

.coloreDinamico{
  color: red; // Dinamico con JS
}
.fa {
  padding: 0 10px 0 0;
}

button:hover,
a i:hover{
  color: rgba(255, 0, 0, 0.5);;
}
#autore {
  font-style: italic;
}
